/* body {
    background-color: grey;
} */

#grid-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    margin: 1rem;
}

.board-row {
    display: flex;
    flex: 1;
    gap: 2px;
    border-bottom: 2px solid black;
}

.board-row:last-child {
    border-bottom: none;
}

.game-board-cell {
    flex: 1;
    background-color: white;
    border-right: 2px solid black;
    text-align: center;

}

.game-board-cell:last-child {
    border-right: none
}

.game-board-cell:hover {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);;
    background-color: rgb(211, 211, 211);
}

#player-name-form{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;

}