/* body {
    background-color: grey;
} */

#grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 306px;
    background-color: black;
    gap: 2px;
}

.game-board-cell {
    width: 100px;
    height: 100px;
    background-color: white;
}